@using System.Security.Claims

<div class="container mt-5">
    <h2 class="text-center mb-4">Välkommen till SMECDs CV-sida!</h2>


    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Urval av CVn vi lagrar:</h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Användarnamn</th>
                            <th>Email</th>
                            <th>Profil</th>
                            <th>CV</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in ViewBag.OffentligaAnvandare)
                        {
                        <tr>
                            
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>Öppet CV</td>
                            <td>
                                <!-- Här lägger du till länken för att visa profilen -->
                                <a asp-controller="Account" asp-action="VisaCV" asp-route-userId="@user.Id" class="btn btn-outline-success mt-2">Visa fullständigt CV</a>
                            </td>

                        </tr>
                        }
                        <!-- Lägg till fler rader efter behov -->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <h4>Senast tillagda projekt</h4>
            <div class="card">
                <div class="card-body">
                    @if (ViewBag.SenasteProjekt != null && ViewBag.SenasteProjekt.Namn != "Det finns inga projekt")
                    {
                        <p class="card-text"><strong>Namn:</strong> @ViewBag.SenasteProjekt.Namn</p>
                        <p class="card-text"><strong>Beskrivning:</strong> @ViewBag.SenasteProjekt.Beskrivning</p>
                        <!-- Lägg till andra egenskaper för projektet här -->
                    }
                    else
                    {
                        <p class="card-text">@ViewBag.SenasteProjekt.Namn</p>
                    }
                    <a asp-action="VaraProjekt" class="btn btn-outline-success mt-2" role="button">Projekt listan</a>
                </div>
            </div>
        </div>
    </div>
</div>
