@model DataLayer.Models.Project

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="RedigeraProjekt" method="post">

    <input asp-for="Id" type="number" class="form-control" value="@Model.Id" hidden/>

    <!-- Projekt namnet-->
    <div>
        <label class="form-label"> Projekt Namn</label>
        <input asp-for="Namn" type="text" class="form-control" value="@Model.Namn" />

    </div>

    <!-- Beskrivning fältet-->
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form6Example7"> Projekt Beskrivning</label>
        <textarea asp-for="Beskrivning" type="text" class="form-control" id="form6Example7" rows="4" value = "@Model.Beskrivning"></textarea>
    </div>

    <!-- Start datum fältet-->
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form6Example5">Start Datum</label>
        <input asp-for="StartTime" type="datetime" id="form6Example5" class="form-control" placeholder="yyyy-MM-dd" value="@Model.StartTime" />
    </div>

    <!-- Slut datum fältet-->
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form6Example6">Slut Datum</label>
        <input asp-for="EndTime" type="datetime" id="form6Example6" class="form-control" placeholder="yyyy-MM-dd" value ="@Model.EndTime" />

    </div>

    <!-- Skap knappen-->
    <button type="submit" class="btn btn-primary btn-block mb-4">Uppdatera projekt...</button>

</form>
