@model List<DataLayer.Models.CV> 

<h2>Våra CVn</h2>
<h4>@ViewBag.Meddelande</h4>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Bild</th> <!-- Ny kolumn för bilder -->
                <th>Namn</th>
                <th>Email</th>
                <th>Utbildning</th>
                <th>Erfarenheter</th>
                <th>Kompetenser</th>
                <th>Projekt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cv in Model)
            {
                <tr>
                    <td>
                        @if (cv.CVImages.Any()) 
                        {
                            var image = cv.CVImages.First(); // Hämta den första bilden
                            <img src="@Url.Content("~/cvuploads/" + image.FileName)" alt="CV Bild" style="width:128px;height:128px;"> <!-- Visa den uppladdade bilden -->
                        }
                        else
                        {
                            <img src="@Url.Content("~/images/defaultProfilePicUrl.jpg")" alt="Standardbild" style="width:128px;height:128px;"> <!-- Visa standardbild om ingen profilbild finns -->
                        }
                    </td>
                    <td><a asp-controller="Account" asp-action="UserCV" asp-route-id="@cv.UserId">@cv.User.Name</a></td>
                    <td>@cv.User.Email</td>
                    <td>
                        @foreach (var utbildning in cv.CVUtbildningar)
                        {
                            <p>@utbildning.Utbildning.Namn - @utbildning.Utbildning.Beskrivning</p>
                        }
                    </td>
                    <td>
                        @foreach (var erfarenhet in cv.CVErfarenheter)
                        {
                            <p>@erfarenhet.Erfarenhet.Title - @erfarenhet.Erfarenhet.Beskrivning</p>
                        }
                    </td>
                    <td>
                        @foreach (var kompetens in cv.CVKompetenser)
                        {
                            <p>@kompetens.Kompetens.Titel - @kompetens.Kompetens.Beskrivning</p>
                        }
                    </td>
                    <td>
                        <!-- Din kod för Projekt-kolumnen här -->
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
