@model CV
<!--MeddelandeKonversation-->
<div>
    <a asp-controller="Message" asp-action="Conversation" asp-route-id="@Model.UserId">Chat</a>
</div>

<!--Hela CVt-->
<div>
    <!--Användar info-->
    <div>
        <h2>@Model.User.Name</h2>
        <h2>@Model.User.Email</h2>
    </div>
    <!--Kompetens-->
    <div>
        <ul>
            @foreach (var kompetens in Model.CVKompetenser)
            {
                if (kompetens.CVId == Model.Id)
                {
                    <li>
                        <div>
                            <h3>@kompetens.Kompetens.Titel</h3>
                            <p>@kompetens.Kompetens.Beskrivning</p>
                        </div>
                    </li>
                }
            }
        </ul>
        @if(ViewBag.CurrentUser == Model.UserId)
        {
            <a href="/Account/AddKompetens">Lägg till Kompetens</a>
        }
        

    </div>
    <!--Erfarenheter-->
    <div>
        <ul>
            @foreach (var erfarenhet in Model.CVErfarenheter)
            {
                if (erfarenhet.CVId == Model.Id)
                {
                    <li>
                        <div>
                            <h3>@erfarenhet.Erfarenhet.Title</h3>
                            <p>@erfarenhet.Erfarenhet.Beskrivning</p>
                        </div>
                    </li>
                }
            }
        </ul>
        @if (ViewBag.CurrentUser == Model.UserId)
        {
            <a href="/Account/AddErfarenhet">Lägg till Erfarenhet</a>
        }
    </div>
    <!--Utbildningar-->
    <div>
        <ul>
            @foreach (var utbildning in Model.CVUtbildningar)
            {
                if (utbildning.CVId == Model.Id)
                {
                    <li>
                        <div>
                            <h3>@utbildning.Utbildning.Namn</h3>
                            <p>@utbildning.Utbildning.Beskrivning</p>
                        </div>
                    </li>
                }
            }
        </ul>
        @if (ViewBag.CurrentUser == Model.UserId)
        {
            <a href="/Account/AddUtbildning">Lägg till Utbildning</a>
        }
    </div>

    <div>
        <ul>
            @foreach (var createdProject in Model.User.CreatedProjects)
            {
                <li>
                    <div>
                        <h3>@createdProject.Namn</h3>
                        <p>@createdProject.Creator</p>
                        <p>Från @createdProject.StartTime.ToString() till @createdProject.EndTime.ToString()</p>
                        <p>@createdProject.Beskrivning</p>
                    </div>
                </li>
            }
            @foreach (var userParticipationProject in Model.User.UsersParticipationsProjects)
            {
                <li>
                    <div>
                        <h3>@userParticipationProject.Project.Namn</h3>
                        <p>@userParticipationProject.Project.Creator</p>
                        <p>Från @userParticipationProject.Project.StartTime.ToString() till @userParticipationProject.Project.EndTime.ToString()</p>
                        <p>@userParticipationProject.Project.Beskrivning</p>
                    </div>
                </li>   
            }
        </ul>
    </div>
</div>
